body {
    font-family: "Poppins";
    background-color: lightgray;
}
* {
    box-sizing: border-box;
}
.container-login {
    display: flex;
    justify-content: center;
    height: 700px;
    margin-top: 5%;
}
.container-left {
    width: 460px;

    background-color: #365ebf;
    border-end-start-radius: 20px;
    border-top-left-radius: 20px;
}
.container-right {
    background-color: #ffffffff;
    width: 460px;
    border-end-end-radius: 20px;
    border-top-right-radius: 20px;
}
.container-input-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 55px 40px 55px;
}
.container-input-login h1 {
    text-align: center;
    font-weight: 500;
    margin: 0;
}
.container-input-login h2 {
    margin: 10px 0px 25px 0px;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
}
.logo-login {
    width: 175px;
    margin-bottom: -20px;
    height: auto;
    display: block;
}
.input-container {
    position: relative;
    width: 100%;
}
input[id="email"],[id="password"] {
    width:100%;
    padding: 12px 12px 12px 40px;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0px;
    border: 1px solid #ccc;
}
.input-container i {
    position: absolute;
    left: 0;
    font-size: 18px;
    padding: 10px 9px 9px 11px;
}
.remember-recovery {
    display: flex;
    gap: 109px;
}
.remember {
    font-size: 12px;
    /* justify-content: ; */
}
input[id="rememberme"] {
    height: 54%;
}
.remember-recovery a {
    font-size: 13px;
    text-decoration: none;
    color: #365ebf;
    font-weight: 500;
}
.container-button {
    margin-top: 35px;
    line-height: 50px;
}
.login-btn {
    background-color: #365ebf;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 155px 8px 155px;
    border-radius: 6px;
}
.sign-in-google {
    background-color: blue;
    padding: 8px 95px 8px 95px;
    border-radius: 6px;
}